/*My styles*/
#main {
    padding: 0 9px;
}
/*header*/
#logo
{
   display: block;
    float: left;
    min-height: 1px;
}
#content-bottom
{
    clear:both;
}

#header
{
      background: none repeat scroll 0 0 white;
    height: 68px;
    padding: 40px 10px 10px;
}

#primary-links
{
   float: left;
    margin-left: 15px;
    margin-top: 37px;
    min-height: 1px;
        
}

#primary-links li {
    margin: 0 15px;
}

#primary-links li a, #primary-links li a:visited{
  color: black;
    padding: 5px;
    text-decoration: none;
}

#primary-links li a:hover {
    background-color: #184794;
    color: white;
}



/*header ENDS*/


/*default header*/

.section-header-horizontal-gradient-divisor
{

    

   clear: both;
 
    text-align: center;
   
}
/*default-header ENDS*/

/*front-page-slideshow*/

.front-page-slideshow-photo {

    width: 713px;
    height: 290px;
}

#front-page-slideshow {
        float: left;
    margin-bottom: 13px;
    margin-right: 9px;
    position: relative;       
}
#front-page-slideshow-pager {
 position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
}


/*front-page-slideshow ENDS*/

/*bienvenidos*/
#bienvenidos {
     float: left;
    margin-top: 16px;
    text-align: left;
    width: 444px;
}

#bienvenidos h2{
    margin-bottom: 5px;
}
/*bienvenidos ENDS*/

/*vertical-gradient-divisor*/
.vertical-gradient-divisor
{
        float: left;
        margin: 0 12px;
}
/*vertical-gradient-divisor END*/

/*gradient-divisor*/
.horizontal-gradient-divisor
{
      clear: both;
    height: 8px;
    text-align: center;
    margin-bottom:20px;
    
}
/*gradient-divisor ENDS*/

/*portafolio*/
.section-header {
    font-size: 35px;
}

.protafolio-proyecto {
   float: left;
    height: 164px;
    padding: 25px;
    width: 430px;
}
/*portafolio ENDS*/



/*portafolio-link*/
#portafolio-link
{
        float: left;
    position: relative;
    top: -14px;
}
/*portafolio-link ENDS*/


/*proyectos-comerciales-residenciales*/



#proyecto-info-header
{
    margin-bottom: 5px;
    font-weight: bold;
}

#proyectos-comerciales-residenciales
{
   float: left;
    height: 135px;
    margin: 0 0 0 0;

}
#proyectos-comerciales-residenciales a
{
      display: block;
    float: left;

}

#proyectos-comerciales
{
    margin-right: 4px;
}

#proyecto-propiedades
{
    height: 357px;
}

/*proyectos-comerciales-residenciales ENDS*/

/*useful classes*/
a.no-decoration-anchor, .no-decoration-anchor img, a.no-decoration-anchor:hover, a.no-decoration-anchor:link, a.no-decoration-anchor:visited {
    
    text-decoration: none;
}
.no-decoration-anchor img
{
    border: medium none;
}


/*useful classes END*/

/*video-de-proyecto*/

#video-de-proyecto {
     float: right;
  
}
#video-de-proyecto h2
{
    margin-bottom: 10px;
}
#video-de-proyecto-video-container
{
      background-image: url("/sites/default/files/images/videoDeProyecto/fondo.png");
    height: 278px;

    padding: 7px 0;
    width: 451px;
}
#video-de-proyecto-video
{
    margin-right: auto;
    margin-left: auto;
    display:block;
}

/*newsletter*/
#newsletter {
    background-image: url("/sites/default/files/images/newsletter/background.png");
    color: white;
    float: left;
    font-weight: bold;
    height: 98px;
    padding: 20px;
    width: 328px;
    position: relative;
}

#newsletter input {
    color: #333333;
    font-size: 1.2em;
}
#newsletter h2
{
    clear:both;
     font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 3px;
}

#newsletter p {
    font-size: 0.9em;
}

#newsletter input {
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 0 none;
    height: 30px;
    padding-left: 5px;
    width: 298px;
}
#newsletter span,#newsletter input
{
    float:left;
}

#newsletter span, #newsletter input {
    float: left;
}


#newsletter span {
    -moz-border-radius: 5px 5px 5px 5px;
    background-color: #17438B;
    cursor: pointer;
    display: block;
    font-size: 0.8em;
    height: 17px;
    padding-top: 3px;
    position: absolute;
    right: 49px;
    text-align: center;
    top: 93px;
    width: 69px;
}

/*newsletter ENDS*/

/*Proyecto*/
#proyecto
{
        min-height: 792px;
    position: relative;
     float:left;
}

#proyecto-caracteristicas p 
{
    margin-bottom: 0;
    width: 524px;
}
#proyecto-edificios {
    background-image: url("/sites/default/files/images/common/largeWhiteToGrayGradient.jpg");
    padding: 20px 0;
    width: 290px;
}
#proyecto h3#proyecto-condiciones-de-pago {
    margin-top: 20px;
}

#proyecto h3{
   margin: 10px 0 5px;
}
#proyecto-slideshow {
    float: left;
    margin-right: 10px;
}
#proyecto-caracteristicas
{
  margin-right: 122px;
}
#proyecto-caracteristicas, #proyecto-edificios-container
{
    float:left;
}



#proyecto-slideshow-pager-container{
    float:left;
}

.proyecto-slideshow-slide
{
         height: 355px;
    width: 851px;
}
.proyecto-slideshow-photos-selector
{
        height: 58px;
    width: 97px;
   margin: 9px 0;
   display: block;
}
.proyectos-residenciales-location-block
{
    
}
.proyecto-slideshow-pager-group{
    min-height: 277px;
}
#proyecto-slideshow-container
{
    clear:both;
    min-height: 358px;
}

#proyectos-localizacion
{
    
       background-image: url("/sites/default/files/images/videoDeProyecto/fondo.png");
    height: 192px;
    padding: 5px 0;
    width: 345px;
    margin-bottom: 20px;
}


#proyectos-residenciales-location, #proyectos-residenciales-location-header
{
    
}
.proyectos-residenciales-location-block
{
     
}
#proyectos-residenciales-address
{

}
#proyecto-direccion {
    left: 74px;
    position: absolute;
    top: 650px;
}


#proyecto-info
{
    position:relative;
}

#proyecto-info,#proyecto-menu{
    float:left;
}

#proyecto-menu {
    margin-right: 31px;
}

#proyecto-menu-banner
{
    height: 320px;
    border: 1px solid black;
}

#proyecto .large-gradient-vertical-divisor
{
    margin: 0 10px;
}

#proyecto-info .horizontal-gradient-divisor img
{
    width: 610px;
}

#proyecto-menu a {
    display: block;
}
#proyecto-info .section-header-horizontal-gradient-divisor img
{
        width: 610px;
}


/*Proyecto ENDS*/

/*building*/

.building table{
    border: 0 none;
    clear: both;
    width: 290px;
}

.building table tr td {

}

.building-title 
{
    background-image: url("/sites/default/files/images/common/whiteToGrayGradient.png");
    color: #0E95BC;
    float: left;
    height: 23px;
    margin: 0;
    padding-top: 5px;
    width: auto;
     cursor: pointer;
}

.building table tr {
      height: 20px;
    text-align: center;
}
.building p{
    
}

    .building-apt-header {
    padding: 4px 10px;
}

/*building ENDS*/

/*proyectos-type-menu*/


#proyectos-type-menu a {
    margin: 15px 50px;
}


#proyectos-type-menu-residenciales {
    position: relative;
    top: 9px;
}

/*proyectos-type-menu ENDS*/
/*footer*/

#footer
{
    height: 156px;
      background-image: url("/sites/default/files/images/common/grayToWhiteLargeGradient.png");
      padding: 20px;
}

#footer-left-side
{
      float: left;
    width: 660px;
}
#footer-right-side {
    float: right;
}
#herrera-checo-contacto-fax {
    margin-bottom: 5px;
}
#herrera-checo-contacto span {
    display: block;
    margin: 5px 0;
}
#herrera-checo-contacto {
}


#footer-left-side #logo {
       margin: 30px 0;
}

#footer-left-side p {
    clear: both;
}

#footer-right-side {
    float: left;
    margin-left: 15px;
}

#footer a.secondary-link {
    color: black;
    padding-right: 10px;
}

#herrera-checo-contacto .herrera-checo-telefono, #herrera-checo-contacto #herrera-checo-fax
{
       font-size: 1.2em;
    font-weight: 900;
}
#herrera-checo-contacto #herrera-checo-fax {
    margin-bottom: 10px;
    
}
#herrera-checo-contacto span {
    display: block;
    margin: 5px 0;
}
#mkt-logo {
    left: 262px;
    position: relative;
}

/*footer ENDS*/

/*company-description*/

#company-description h2 {
    margin-bottom: 10px;
}
#company-description {
    float: left;
    margin: 0 51px 0 0;
    width: 630px;
}
/*company-description ENDS*/

/*mision-vision*/
#mision-vision {
    background-image: url("/sites/default/files/images/misionVision/misionVisionBackground.png");
    color: white;
    float: right;
    height: 305px;
    margin: 0 0 80px;
    padding: 10px 0 10px 10px;
    width: 270px;
}

#nodesinblock-4
{
    float:left;
}

#mision-vision h3
{
        background-color: #0A85B4;
    left: 2px;
    margin: 0;
    padding-left: 5px;
    position: relative;
    width: 256px;
}

#mision-vision p {
    padding: 5px;
}
/*mision-vision ENDS*/

/*employees*/
#employees
{
    float:left;
    margin-top:24px;
    padding-top: 47px;
}

#employees-title
{
    margin-bottom: -15px;
}
.employee-photo {
    display: block;
    float: left;
    margin-bottom: 20px;
    margin-right: 15px;
}

.employees-horizontal-divisor{
   
     background-image: url("/sites/default/files/images/employees/gradientLargeHorizotalDivisor.png");
    clear: both;
    height: 8px;
    margin: 20px;
    width: 489px;
}

.employee-info {
    float: left;
}


/*employees ENDS*/


/*offices-slideshow*/

#offices-slideshow-header
{
      clear: right;
    margin: 0 0 10px;
}
#offices-slideshow
{
     background-image: url("/sites/default/files/images/common/grayRaysPattern.jpg");
    height: 215px;
    padding: 10px;
    position: relative;
    width: 368px;
     float:left;
}
.offices-slideshow-photos-selector
{
    width: 60px;
    height: 40px;
    
}

.offices-slideshow-photos-selector-container {
 background-image: url("/sites/default/files/images/common/grayRaysPattern.jpg");
    float: left;
    height: 40px;
    margin: 15px 5px 15px 0;
    padding: 4px 1px;
    width: 66px;

}

.offices-slideshow-photos-selector {
    display: block;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 60px;
}

#offices-slideshow-next{
    position: absolute;
    right: 0;
    top: 105px;
    z-index: 1000;
}
#offices-slideshow-previous {
     left: 0;
    position: absolute;
    top: 105px;
    z-index: 1000;

}

#offices-slideshow-pager
{
        min-height: 71px;
}
.offices-slideshow-navigator
{
}
/*offices-slideshow END*/


/*servicios*/
.servicios-icon {
    float: left;
    margin-right: 20px;
}
.nuestros-servicios-servicio {
    float: left;
    width: 731px;
    margin: 20px 0;
}

#nuestros-servicios .horizontal-gradient-divisor:first
{
    
}
.nuestros-servicios-header-horizontal-gradient-divisor {
    margin: 0;
}

.section-banner
{
    margin-bottom: 0px;
}
#nuestros-servicios h2 {
    margin: 10px 0;
}
/*servicios END*/

/*ultimos-proyectos*/
.ultimos-proyectos-info {
    float: left;
}
.ultimos-proyectos-photo {
    float: left;
    margin-right: 5px;
}

#ultimos-proyectos-header
{
    margin-bottom: 17px;
    float: left;
}


.ultimos-proyectos-info p 
{
 color: #8C8C8C;
    height: 34px;
    overflow: hidden;
    width: 215px;

}

  .ultimos-proyectos-info h5
  {
      border-bottom: 1px dashed black;
  }


.ultimos-proyectos {
      clear: both;
    min-height: 147px;
}


.proyecto, .proyecto-com-block, .proyecto-res-block
{
     float:left;
     width: 460px;
     height: 160px;
}



div.ultimos-proyectos div.ultimos-proyectos-info h4, 
div.proyecto div.ultimos-proyectos-info h4,
div.proyecto div.ultimos-proyectos-info h4,
div.proyecto-res-block div.ultimos-proyectos-info h4,
div.proyecto-com-block div.ultimos-proyectos-info h4
{
    margin : 0;
}

div.ultimos-proyectos div.ultimos-proyectos-info h5, div.proyecto div.ultimos-proyectos-info h5,
div.proyecto div.ultimos-proyectos-info h5,
div.proyecto-res-block div.ultimos-proyectos-info h5,
div.proyecto-com-block div.ultimos-proyectos-info h5
{

     color: #666666;
    font-weight: normal;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #9d9d9d;
}

.ultimos-proyectos-photo img
{
    width: 209px;
    height: 121px;
}


/*ultimos-proyectos ENDS*/


/*Contactos*/

#contactos-body
{
    height: 490px;
}
#contactos .horizontal-gradient-divisor
{
    margin: 0;
}
#contactos-info, #contactos form
{
    float:left; 
}
#contactos-info {
 
      margin-left: 33px;
    margin-right: 195px;
}

#contactos form{
    
}

#contactos form input, #contactos form  label
{
    display:block;
    float: left;

}

#contactos form label {
    color: #798D92;
    font-size: 1.4em;
    padding-top: 12px;
    width: 111px;
}
#contactos-info p {
    margin-bottom: 25px;
}

#contactos form div#contactos-form-mensaje-container
{
    margin-bottom: 10px;
}


#contactos-localizacion {
    float: left;
    height: 192px;
    left: 33px;
    margin-bottom: -160px;
    position: relative;
    top: -210px;
}


#contactos form input {
   
    height: 36px;
}
#contactos form input, #contactos form textarea
{
     border: 5px solid #EEEEEE;
}


#contactos-info h3
{
    margin-bottom: 0;
}

#contactos form div {
    margin-bottom: 45px;
    min-height: 10px;
}

#contactos form textarea {
    height: 175px;
}


#contactos form a{
    float: right;
}

#contactos form input, #contactos form textarea {
       color: #333333;

    width: 332px;
    width: 337px;
    border-radius: 5px;
    -moz-border-radius: 5px;
       font-size: 1.5em;
    padding-left: 5px;
}


#contactos-header {
    font-style: italic;
    letter-spacing: -1px;
    margin-bottom: 25px;
    padding-left: 33px;
}


#contactos-localizacion
{
    
}
/*Contactos ENDS*/

/*vende-alquilar-options*/
#vender-alquilar-option-container {
    height: 32px;
    margin-bottom: 45px;
}

#vender-alquilar-option-container a.vender-alquilar-option {
    color: black;
    display: block;
    float: left;
    font-size: 20px;
    height: 26px;
    margin: 0 40px 0 0;
    padding-top: 6px;
    text-align: center;
    width: 153px;
}

#vender-alquilar-option-container a.selected-option
{
    background-color: #01a9e7;
    color:white
}

/*vende-alquilar-options ENDS*/


/*filter*/
#filter {
     background-image: url("/sites/default/files/images/common/largeWhiteToGrayGradient.png");
    float: left;
    height: 290px;
    
    width: 240px;
}
#filter-parameters
{
    padding: 0 10px;
}

#filter-header {
    height: 25px;
    margin-bottom: 23px;
    width: 238px;
}

#filter-header {
    border: 1px solid #D9D9D9;
}
#filter select, #filter lable{
    display: block;
    margin: 5px 0;
}

#filter-parameters #filter-property-type
{
    margin-bottom: 25px;
}

a.filter-alquilar-comprar-option {
      display: block;
    float: left;
    height: 21px;
    padding-top: 4px;
    text-align: center;
    width: 119px;
    color: black;
}
#filter-comprar-option.filter-selected-option, #filter-alquilar-option.filter-selected-option
{
    color: white;
    background-image: url('/sites/default/files/images/filter/blueGradient.png');
}
#filter-slider
{
      margin-bottom: 2px;
    margin-left: 8px;
    width: 201px;
}

#filter-search-button
{
      float: right;
    margin-top: 12px;
    cursor: pointer;
}

#filter-parameters select {
   color: gray;
    font-size: 1.2em;
    height: 29px;
    margin-bottom: 28px;
    margin-top: 2px;
    width: 214px;
}

#filter-parameters label {
    font-size: 1.1em;
    font-weight: bold;
}


#filter-parameters p {
   clear: both;
    height: 17px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
#filter-parameters .filter-slider-min-position {
    float:left;
    
}

#filter-slider-min, #filter-slider-max
{
    font-size: 0.9em;
}

#filter-parameters .filter-slider-max-position {
    float:right;
    
}

.jslider_plastic .jslider-bg i,
  .jslider_plastic .jslider-pointer
  { 
      background-image: url('/sites/default/files/images/filter/jslider.plastic.png'); 
  }

/*filter ENDS*/
/*useful classes*/



.bold
{
    font-weight: bold;
}
.required{
    color: red;
}
.blue-text
{
    color: #184794;
}

.large-gradient-vertical-divisor
{
   display: block;
    float: left;
    margin: 0 13px;
}
.hidden{
    display:none;
}

.section-header {
    font-size: 35px;
    clear: both;
}

/*useful Classes ENDS*/


/*My styles ENDS*/




